.parentLoading,
.noResultContainer{
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 30px;
  position: absolute;
}
.no-resultImage{
  width: 400px;
}

.stepperLabel{
  font-family: 'Cairo';
}