.addressInfo{
  padding: 20px;
  word-break: break-word;
  border: 1px solid #0000001a;
  border-radius: 5px;
  margin-inline: 10px;
}
.questionContainerImage{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

.addressInfoBG{
  background-color: #f4f2f2 ;
}
.dispatchAnProblem{
  border: none;
  color: #fff;
  background-color: #e30613;
  padding:10px;
  font-size: 15px;
  font-family: 'Cairo';
  border-radius: 20px;
  margin: 10px;
  width: 80%;
  cursor: pointer;
  transition: background-color 1s;
}
.dispatchAnProblem:hover{
  background-color: #9b0812;

}
.imageSizeQuestion{
  width: 100%;
}

.secondSectionDeliveryDetails{
  margin-bottom: 30px;
}