.detailsCardContainer {
  border: 1px solid #dbd8d8;
  margin: 30px auto 30px auto;
  border-radius: 5px;
  width: 90%;
  height: auto;
  padding: 10px 0px 10px 0px;
}
.stepperContainer{
  margin: 30px auto 30px auto;
  width: 90%;
  height: auto;
  padding: 10px 0px 10px 0px;
}

.packageInfoContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.packageSubInfoContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  margin-inline: 15px;
}

.stepsContainer{
  direction: ltr;
  margin-top: 30px;
  margin-bottom: 30px;
}

.detailsContainer{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 90%;
  margin: auto;
}

@media (max-width: 768px) {
  .detailsContainer,
  .headerTxtSection,
  .headerContainer,
  .packageInfoContainer,
  .questionContainerImage
  {
    flex-direction: column;

  }
  .detailsPackageContainerTable{
    width: 100%;
  }
  .packageInfoContainer
  {
    align-items: flex-start;
    align-content: flex-start
  }
  .mainTrackingContainer{
    width: 100%;
  }
}