.headerContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px;
}

.trackingSection {
  display: flex;
  align-items: center;
  position: relative;

}

.arrowSvg{
  width: 20px;
}

.headerTxtSection {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

}

.tracking-text{
  margin-inline: 0px;
}

label:hover,
.borderShadow,
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover{
  border: 1px solid #0000001a !important;
  border-bottom-color: transparent !important;
  border-radius: 10px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: transparent !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  padding: 15px 28px !important;
  font-weight: bold !important;
  border: 1px solid transparent !important;
  color: #e30613 !important;
  font-family: 'Cairo', sans-serif !important;
  
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root,
.css-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel,
table{
  font-family: 'Cairo', sans-serif !important;

}