.redTextColor{
  color: #e30613;
}

.arabicDirection{
  direction: rtl;
  height: 97%;
}

.line{
  border-bottom: 1px solid #dbd8d8;
  width: 100%;
}

.imgLogo{
  width: 150px;
}
.bold{
  font-weight: bold;
}

.secondaryColor{
  color:#989797
}