@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
html{
  height: 97%;
}
body{
  font-family: 'Cairo', sans-serif;
  margin: 0px;
  height: 100%;
}
#root{
  height: 97%;
}
label{
  padding: 15px 28px;
  font-weight: bold;
  border: 1px solid transparent;
}

